@charset "UTF-8";

/* 폰트 */

@font-face {
    font-family: 'MaplestoryOTFLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {

  font-family: "Roboto", "MaplestoryOTFLight", sans-serif;
}

/* 노말라이즈 시작 */
body, ul, li {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}
/* 노말라이즈 끝 */

/* 라이브러리 */

/* 라이브러리 - 일반 시작 */
.con {
  margin-left:auto;
  margin-right:auto;
}

.padding-0-10 {
  padding-left:10px;
  padding-right:10px;
}

.block {
  display:block;
}

.flex {
  display:flex;
}

.flex-grow-1 {
  flex-grow:1;
}

.flex-ai-c {
  align-items:center;
}

.height-100p {
  height:100%;
}
/* 라이브러리 - 일반 끝 */

/* 라이브러리 - 디버그 시작 */
.bd-red {
  border:2px solid red;
}

.bd-green {
  border:2px solid green;
}

.bd-blue {
  border:2px solid blue;
}

.bg-red {
  background-color:red;
}

.bg-green {
  background-color:green;
}

.bg-blue {
  background-color:blue;
}

.bg-gray {
  background-color:#afafaf;
}
/* 라이브러리 - 디버그 끝 */

/* 커스텀 시작 */
:root {
  --site-width:1200px;
}

.con {
  max-width:var(--site-width);
}

.con-min-width {
  min-width:320px;
}

/* 커스텀 끝 */

/* 바디콘텐트 시작 */
.body-content {
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

.body-content > main {
  flex-grow:1;
}
/* 바디콘텐트 끝 */


/* 로고 시작 */

.logo {
	font-size:25px;
}

/* 로고 끝 */

/* 작성,검색 버튼 시작 */

.writer_search {
	display:flex;
}

.search {
	display:flex-end;
}

/* 작성,검색 버튼 끝 */


/* 상단 탑바 */

.top-bar {
  height:80px;
}

.top-bar .menu-box-1 {
  margin-right:13px;
}

.top-bar .menu-box-1 > ul > li > a {
  font-weight:bold;
  padding:0 10px;
}

.top-bar .text-nickname {
  background-color:#000000;
  padding:10px 20px;
  border-radius:22px;
  font-weight:bold;
  color:#0080ff;
}

.menu-box-1 > ul > li {
  position:relative;
}

.menu-box-1 > ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:-10px;
  width:100%;
  background-color:#afafaf;
  border:10px solid #afafaf;
  border-top-width:0;
  border-radius:0 0 10px 10px;
}

.menu-box-1 > ul > li:hover > ul {
  display:block;
}

.menu-box-1 ul > li > a {
  text-align:center;
  padding:20px 0;
}

.menu-box-1 ul > li:hover > a {
  background-color:#afafaf;
  color:white;
}

/* 메뉴 끝 */

/* 타이틀 바 시작 */

.title-bar {
  margin-top:30px;
  margin-bottom:30px;
}

/* 타이틀 바 끝 */

/* 하단바 시작 */

.bottom-bar {
  height:80px;
  background-color:#afafaf;
}
/* 하단바 끝 */



/* 게시물 리스트 시작 */

.table {
     border-top:3px solid #168;
  	 width:100%;
  	 border-collapse:collapse;
  	 table-layout:fixed;
}

.table {
	text-align:center;
}

.table th {
      color: #168;
      background: #f0f6f9;
}

.table th, .table td {
      padding-top:7px;
      padding-bottom:8px;
}
    
.table tr {
  border-bottom: 1px solid #dfdfdf;
}

.table caption{
	caption-side: bottom;
	display: none;
}


.section_page {
	margin-bottom:50px;
	text-align:center;
}

.bottom_page {
	letter-spacing:13px;
}

/* 게시물 리스트 끝 */

/* 회원가입 폼 시작 */

.joinForm {
  position:absolute;
  width:300px;
  height:400px;
  padding: 30px, 20px;
  background-color:#FFFFFF;
  text-align:center;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
}

.joinForm h2 {
  text-align: center;
  margin: 30px;
}

.textForm {
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}


.id {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.pw {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.name {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.email {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.nickname {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.cellphoneNo {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.btn {
  position:relative;
  left:40%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  width:80%;
  height:40px;
  background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
  background-position: left;
  background-size: 200%;
  color:white;
  font-weight: bold;
  border:none;
  cursor:pointer;
  transition: 0.4s;
  display:inline;
}

.btn:hover {
  background-position: right;
}

/* 회원가입 폼 끝 */

/* 로그인 폼 시작 */

.loginForm {
  position:absolute;
  width:350px;
  height:350px;
  padding: 30px, 20px;
  background-color: #ebebeb;
  text-align:center;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
}

.loginForm h2{
  text-align: center;
  margin: 30px;
}

.idForm{
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}

.passForm{
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}

.id {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.pw {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.btn {
  position:relative;
  left:40%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  width:80%;
  height:40px;
  background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
  background-position: left;
  background-size: 200%;
  color:white;
  font-weight: bold;
  border:none;
  cursor:pointer;
  transition: 0.4s;
  display:inline;
}

.btn:hover {
  background-position: right;
}

.loginForm .loginMenu {
  text-align:center;
  margin:36px 0 0 0;
}
.loginForm .loginMenu li {
  display:inline-block;
  height:14px;
  line-height:14px;
  margin:4px 0 3px 0;
}

.loginForm .loginMenu li.idsearch {
  margin:5px 20px 10px 20px;
}

.loginForm .loginMenu li a {
  font-size:16px;
  color:#aaa;
}

/* 로그인 폼 끝 */



